<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApoxRItP-iCdwGTdXIsfBa8LwIiPH0JGw</string>
	<key>GCM_SENDER_ID</key>
	<string>1053507259492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappclone</string>
	<key>PROJECT_ID</key>
	<string>test-44046</string>
	<key>STORAGE_BUCKET</key>
	<string>test-44046.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053507259492:ios:2072798b482e1e3a28e371</string>
	<key>DATABASE_URL</key>
	<string>https://test-44046.firebaseio.com</string>
</dict>
</plist>